.github-contribution-graph-tooltip {
  display: none !important;
}

.github-contribution-graph-wrapper rect {
  cursor: pointer;
}

.github-contribution-graph-wrapper svg {
  width: 100% !important;
  height: auto !important;
}
